<div class="layout-container">

  <aside class="sidebar">
    
    <h4 class="text-center mb-3">Sistema Médico</h4>

    <div class="text-center mb-3">
      <span class="badge bg-info">
        {{ role }}
      </span>
    </div>

    <hr>

    <ul class="nav flex-column gap-1">

      <li class="nav-item">
        <a
          class="nav-link "
          routerLink="/dashboard"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          🏠 Página Principal
        </a>
      </li>

      <li class="nav-item mt-2">
        <div class="text-uppercase small text-secondary fw-bold px-3 mb-1">
          Pacientes
        </div>

        <a
          class="nav-link"
          routerLink="/pacientes/lista-pacientes"
          routerLinkActive="active-link"
        >
           👨‍⚕️ Lista de pacientes
        </a>

        <a
          class="nav-link"
          routerLink="/pendiente"
          routerLinkActive="active-link"
        >
           ⏳ Página pendiente
        </a>
      </li>

      <li class="nav-item mt-3">
        <div class="text-uppercase small text-secondary fw-bold px-3 mb-1">
          Documentos
        </div>

        <a
          class="nav-link"
          routerLink="/plantillas"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
           📄 Subir Plantilla
        </a>

        <a
          class="nav-link"
          routerLink="/plantillas/lista"
          routerLinkActive="active-link"
        >
           ✏️ Plantillas guardadas
        </a>

        <a
          class="nav-link"
          routerLink="/plantillas/generar"
          routerLinkActive="active-link"
        >
          🧾 Generar documento
        </a>
      </li>

      @if (role === 'admin') {
        <li class="nav-item mt-3">
        <div class="text-uppercase small text-secondary fw-bold px-3 mb-1">
          Gestion
        </div>

        <a
          class="nav-link"
          routerLink="/gestion/creacion-usuarios"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
           👤 Creacion de usuarios
        </a>
      </li>
        
      }
      <li class="nav-item mt-4">
        <button class="btn btn-danger w-100" (click)="logout()">
          Cerrar sesión
        </button>
      </li>

    </ul>

  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>