/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: src('logo-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.15; // 🔥 clave (transparencia)
  z-index: -1;
}
